<header></header>
<main>
    <img src="../../assets/img/logo.svg" alt="Вкусные Суши">
    <hr>
    <h2>Выберите Город</h2>
    <hr>
    <br>
    <ng-container  *ngIf="orderService.places && orderService.places.length > 0">
        <ng-container *ngFor="let place of orderService.places">
            <button
            [ngClass]="buttonClass(place)"
            (click)="select(place)"
            >
                {{place.name}}
            </button>
        </ng-container>
    </ng-container>
</main>