<main>

    <a (click)="navigate('place-edit')" > Редактирование Точек</a>
    &nbsp;
    <a (click)="navigate('place-categories')" > Категории Точкек</a>
    &nbsp;
    <a (click)="navigate('place-positions')" > Позиции Точкек</a>
    &nbsp;
    <a (click)="navigate('place-cities')" > Доставки Точек</a>
    <br>
    <hr>
    <br>
    <a (click)="navigate('category-edit')" > Редактирование Категорий</a>
    <br>
    <a (click)="navigate('position-edit')" > Редактирование Позиций</a>
    <br>
    <hr>
    <br>
    <a (click)="navigate('city-edit')" > Редактирование Местоположений</a>
    <br>
    <hr>
    <a (click)="navigate('user-edit')" > Редактирование Пользователей</a>
    <br>
    <a (click)="navigate('client-edit')" > Редактирование Клиентов</a>
    <br>
    <a (click)="navigate('telegram-edit')" > Телеграмм</a>
    <br>
</main>